@import "../../../../assets/styles/vars";

.brick {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  background: $bg-success-light;
  border-radius: 8px;
}

.meta {
  display: flex;
  gap: 44px;
  color: $mainColor;
  margin-bottom: 12px;
}