.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.btn {
  background: none;
  border: none;
  font-size: 34px;
  color: #3bf851;
}

.side-buttons {
  display: flex;
  gap: 90px;
}