@import "vars";
.aim-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  width: 300px;
  height: 350px;
  background: $dark;
  box-shadow: 4px 4px 8px #7a7979;
  position: relative;
}

.aim {
  background: $titleColor;
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
}

.game-controlls {
  color: $success;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.finished {
  font-size: 18px;
  color: $danger;
}

.fields-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  @media (max-width: 610px) {
    flex-direction: column;
    align-items: center;
  }
}