@import "./vars.scss";
.breadcrumbs {
  display: flex;
  gap: 5px;
  align-items: center;
  position: relative;
  z-index: 1;
  @media (max-width: 410px) {
    font-size: 13px;
  }
  white-space: nowrap;
}
.link {
  color: $titleColor;
  text-decoration: none;
}
.text {
  color: $mainColor;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  gap: 10px;
  flex-wrap: wrap-reverse;
}