@import "./vars.scss";
.notification {
  position: fixed;
  bottom: 15px;
  right: 15px;
  color: $mainColor;
  padding: 3px 8px;
  border-radius: 10px;
  animation: show-notification 0.8s linear;
  &.notification-error {
    background: #ff0000;
  }
  &.notification-success {
    background: rgb(1, 255, 1);
    color: #000000;
  }
}
@keyframes show-notification {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 15px;
  }
}
