@import "./vars.scss";

.snake__title {
  font-size: 32px;
  color: $titleColor;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 10px;
}

.snake__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.snake-board {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}
.snake-cell {
  width: 20px;
  height: 20px;
  border: 1px solid #2fa8ff;
  color: rgb(157, 255, 0);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.with-snake {
  background-color: #adff2f;
}
.snake__btns {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
  align-items: center;
  p {
    color: $mainColor;
  }
}

.snake__btn {
  border: none;
  padding: 0 5px;
  background-color: #3bf851;
  border-radius: 6px;
  transition: 0.4s;
  height: 25px;
  font-size: 22px;
  &:hover {
    background-color: #48b73c;
  }
}
.snake__difficulty {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 10px;
  p {
    color: $mainColor;
  }
  button {
    background-color: $titleColor;
    border: none;
    border-radius: 6px;
    transition: 0.4s;
    padding: 0 5px;
    &:hover {
      background-color: #3c9eb7;
    }
  }
}
.snake-current-level {
  background: #3bf851 !important;
  &:hover {
    background-color: #48b73c !important;
  }
}

.snake__game-over {
  font-size: 18px;
  color: red;
  text-transform: uppercase;
}
.snake__boards {
  display: flex;
  gap: 20px;
}
.score-board {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid black;
  align-self: flex-start;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.273);
  margin-right: -200px;
}
.score-board__title {
  color: #3bf851;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
}
.score-board_value {
  color: $titleColor;
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-bottom: 5px;
    border-bottom: 1px solid $mainColor;
    padding-bottom: 5px;
  }
}
.score-board__item {
  &:first-child {
    margin-bottom: 10px;
  }
}
