@import "./vars.scss";

.color-blue {
  color: $tetrisBlue;
}

.color-green {
  color: $tetrisGreen;
}

.color-yellow {
  color: $tetrisYellow;
}

.color-orange {
  color: $tetrisOrange;
}

.color-red {
  color: $tetrisRed;
}

.bg-blue {
  background-color: $tetrisBlue;
}

.bg-green {
  background-color: $tetrisGreen;
}

.bg-yellow {
  background-color: $tetrisYellow;
}

.bg-orange {
  background-color: $tetrisOrange;
}

.bg-red {
  background-color: $tetrisRed;
}

.bg-white {
  background-color: $tetrisWhite;
}

.bg-black {
  background-color: $tetrisBlack;
}

.tetris-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 48px;

  @media (max-width: 610px) {
    font-size: 22px;
  }
}

.board {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid $titleColor;
}

.game-over {
  color: $tetrisRed;
  font-size: 18px;
  margin-bottom: 10px;
}

.game-btn {
  margin-bottom: 10px;
}

.score {
  color: #3bf851;
}

.controlls {
  display: flex;
  gap: 5px;
}

.tetris-boards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  @media (max-width: 610px) {
    flex-direction: column;
    align-items: center;
  }
}

.mobile__controlls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.mobile-controlls__btn {
  background: none;
  border: none;
  font-size: 34px;
  color: #3bf851;
}

.mobile-controlls__sides {
  display: flex;
  gap: 90px;
}
