.modal {
  &.entering {
    .modal__content {
      animation: modalOverlayEnter .2s linear;
    }
  }
  &.exiting {
    .modal__content {
      animation: modalOverlayEnter .2s linear reverse;
    }
  }
}

@keyframes modalOverlayEnter {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}