// =================== Sizes ====================

$containerWidth: 1240;

// =================== COLORS ===================

//common
$mainColor: #e4e4e4;
$titleColor: #00c4f0;
$primary: $titleColor;
$success: #3bf851;
$danger: #ff0000;
$dark: #1c1c1c;

//tetris
$tetrisBlue: #d700fc;
$tetrisGreen: #62ff00;
$tetrisYellow: #ffd500;
$tetrisOrange: #ff971c;
$tetrisRed: #ff3213;
$tetrisWhite: $mainColor;
$tetrisBlack: #00ffd9;

// backgrounds
$bg-success: linear-gradient(109.6deg, rgb(0, 204, 130) 11.2%, rgb(58, 181, 46) 91.7%);
$bg-primary: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
$bg-danger: radial-gradient(circle at 10% 20%, rgb(226, 37, 37) 0%, rgb(211, 49, 49) 82.8%);
$bg-dark: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);