//common
$mainColor: #e4e4e4;
$titleColor: #00c4f0;

//tetris
$tetrisBlue: #d700fc;
$tetrisGreen: #62ff00;
$tetrisYellow: #FFD500;
$tetrisOrange: #FF971C;
$tetrisRed: #FF3213;
$tetrisWhite: $mainColor;
$tetrisBlack: #000000