//common
$mainColor: #e4e4e4;
$titleColor: #00c4f0;
$primary: $titleColor;
$success: #3bf851;
$danger: #ff0000;
$dark: #1c1c1c;

//tetris
$tetrisBlue: #d700fc;
$tetrisGreen: #62ff00;
$tetrisYellow: #ffd500;
$tetrisOrange: #ff971c;
$tetrisRed: #ff3213;
$tetrisWhite: $mainColor;
$tetrisBlack: #00ffd9;
