@import "../../../../assets/styles/vars";

.game {
  height: 150px;
  background: white;
  border-radius: 15px;
  padding: 10px;
  overflow-x: hidden;
}

.field {
  height: 100%;
  border-bottom: 2px solid black;
  position: relative;
  overflow: hidden;
  width: 1180px;
}

.dyno, .cactus {
  position: absolute;
  bottom: 0;

  img {
    height: 50px;
  }
}

.cactus {
  right: 0;
}

.jump {
  animation: jump 1.4s linear;
}

.text {
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  color: $dark;
  margin-bottom: 5px;
}

@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 80px;
  }
  100% {
    bottom: 0;
  }
}