@import "../../../../assets/styles/vars";

.flappy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field {
  width: 600px;
  height: 600px;
  background: #53bece;
  position: relative;
  overflow: hidden;
}

.top {
  height: 30px;
  background: linear-gradient(to bottom, #9de757 4%,#d5f97f 6%,#9de757 7%,#9de757 14%,#9de757 14%,#74bf2e 15%,#74bf2e 17%,#9de757 20%,#74bf2e 23%,#74bf2e 70%,#74bf2e 70%,#578220 71%,#578220 72%,#74bf2e 73%,#74bf2e 75%,#527e23 86%);
  width: 100%;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: linear-gradient(to bottom, #9de757 4%,#d5f97f 6%,#9de757 7%,#9de757 14%,#9de757 14%,#74bf2e 15%,#74bf2e 17%,#9de757 20%,#74bf2e 23%,#74bf2e 70%,#74bf2e 70%,#578220 71%,#578220 72%,#74bf2e 73%,#74bf2e 75%,#527e23 86%);
}

.pipe {
  position: absolute;
  top: 30px;
  bottom: 10px;
  right: 150px
}

.pipe__top, .pipe__bottom {
  background: linear-gradient(to right, #9de757 4%,#d5f97f 6%,#9de757 7%,#9de757 14%,#9de757 14%,#74bf2e 15%,#74bf2e 17%,#9de757 20%,#74bf2e 23%,#74bf2e 70%,#74bf2e 70%,#578220 71%,#578220 72%,#74bf2e 73%,#74bf2e 75%,#527e23 86%);
}

.pipe__top {
  height: 350px;
  top: 0;
  width: 90px;
  position: absolute;
}

.pipe__bottom {
  height: 50px;
  bottom: 0;
  width: 90px;
  position: absolute;
}

.bird {
  position: absolute;
  left: 100px;
}

.start-message, .game-over-message {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}

.game-over-message {
  top: 80px;
}

.score {
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.flappy-boards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}