@import "../../../assets/styles/vars";

.app-button {
  border: none;
  padding: 3px 5px;
  transition: 0.4s;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.49);
  display: block;
  font-size: 16px;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 1;
  }

  &.sm {
    padding: 0 5px;
  }

  &.lg {
    padding: 0 5px;
    font-size: 22px;
  }

  &.primary {
    background: $bg-primary;
  }

  &.success {
    background: $bg-success;
  }

  &.danger {
    background: $bg-danger;
    color: $mainColor;
  }

  &.dark {
    background: $bg-dark;
    color: $mainColor;

    &:hover {
      opacity: 0.9;
    }
  }

  &.transparent {
    background: none;
    color: $mainColor;
    box-shadow: none;

    &:hover {
      color: #00c4f0;
    }
  }

  &.full-width {
    width: 100%;
  }

  &.rounded {
    border-radius: 5px;
  }

  &:disabled {
    background: $bg-gray;
    cursor: not-allowed;

    &:hover {
      opacity: 1;
    }
  }
}