@import "nullstyle";
@import "vars";
@import "fonts";
@import "spacings";
@import "utils";

body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  max-width: $containerWidth + px;
  margin: 0 auto;
  padding: 5px 20px;
}

.game-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common {
  background: linear-gradient(179.4deg, rgb(12, 20, 69) -16.9%, rgb(71, 30, 84) 119.9%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.page-title {
  font-size: 32px;
  color: $titleColor;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 10px;
}