//margins
.mt-m {
  margin-top: 1rem;
}

.mb-m {
  margin-bottom: 1rem;
}

.mt-20 {
  margin-top: 20px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

//paddings

.pt-10 {
  padding-top: 10px;
}